* {
    padding: 0;
    margin: 0
}

body {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
max-width: 1000px;
   background-color: cadetblue;
   margin: auto;
}

.title-div, .about-us-div {
    display: inline-block;
    width: 49.8%;
}

.title-text{
    
}

}

